{
    "aws": {
        "credentials": {
            "region": "",
            "access_key_id": "",
            "secret_access_key": ""
        },
        "queue": {
            "updateSalary": {
                "queueUrl": "",
                "queueArn": ""
            }
        },
        "queueMaxTries": 5,
        "s3": {
            "privateBucket": "",
            "attendancePdfBucket": "",
            "payslipBucket": ""
        }
    }
}